doctype
html
	head
		title #{title} - CookMenu
		meta(name='description', content='This is a cooking website. You can find, share and sbmit recipe. Eat tasty and share with all')
	body(style={'font-size':'1.3em'})
	header
		h1 #{title}
	img(src='#{media}', style={'max-width':'300px', 'max-height':'300px', 'width':'100%'})
	section(style={'font-size': '0.8em', 'font-style': 'italic'}) #{description}
	ul
		-for(var index=0, len=recipe.ingradient.length; index<len; index++)
			li=recipe.ingradient[index]
	p #{recipe.full_description}
	p
		a(href='#appLink') Download CookMenu